<div class="interface">
  <h1>Welcome to the Task Manger</h1>
<% @tasks.each do |task| %>
  <h3>
    <%= link_to task.title, task_path(task) , class: "text"%>
    <%= link_to task_path(task), method: :delete do %>
          <i class="fas fa-trash"></i>
          <i class="fas fa-trash"></i>
    <% end %>
  </h3>
<% end %>
  <%= link_to "Add a new task", new_path , class: "btn btn-primary" %>

</div>
