// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.interface{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid;
  opacity: 0.8;
  text-decoration: none
}
.text{
  text-decoration: none;
  border-bottom: 1px solid rgb(200,200,200);
  box-shadow: 2px 2px rgb(190, 190, 190);
  color:#533a7b;
}
.text:hover{
  text-decoration: none;
  font-size: 40px;

}

.interface h1{
  font-weight: bolder;
  color: #390040;
  padding: 20px
}

.interface:hover{
  opacity: 1;
}

.wrapper{
  background-color: rgb(245,245,245)
}
